{% extends 'form_base.html' %}
{% load static %}
{% block title %}Current Plan{% endblock %}
{% block pagetitle %}Current Plan{% endblock %}
{%block addbutton%}
{%endblock%}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">User Profile Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Phone Number:</strong> {{userprofile.user.phone_number}}</li>
                        <div style="display:none;" class="hiddenprofile">
                            <li class="list-group-item"><strong>Full Name:</strong> {{userprofile.fullname}}</li>
                            <li class="list-group-item"><strong>Gender Date:</strong> {{userprofile.gender}}</li>
                            <li class="list-group-item"><strong>Address: </strong>{{userprofile.address}}</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Other Information</h5>
                    <ul class="list-group list-group-flush">
                        <div id="hide-item" class="showprofile">
                            <li class="list-group-item"><strong>Full Name:</strong> {{userprofile.fullname}}</li>
                        </div>
                        <div style="display:none;" class="hiddenprofile">
                            <li class="list-group-item"><strong>User Register Date:</strong> {{userprofile.created_date}}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{userprofile.user.email}}</li>
                            <li class="list-group-item"><strong>Is User Blocked:</strong> {{userprofile.user.is_blocked}}</li>
                            <li class="list-group-item"><strong>User Document:</strong>
                                {% if userprofile.id_document %}
                                <a href="{{ userprofile.id_document.url }}" target="_blank">View ID Document</a>
                                {%else%}
                                No Document Available
                                {% endif %}
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <img src="{% static 'home/img/filter.png' %}" id="filter" style="width:20px;height:20px; cursor:pointer;">
        </div>
        <div class="col-lg-1">
            <img src="{% static 'home/img/edit.png' %}" id="filter" style="width:20px;height:20px; cursor:pointer;">
        </div>
    </div>
    
</div>
</div>

<style>
    .profile-detail {
        margin-top: 20px;
    }

    .detail-item {
        margin-bottom: 10px;
    }

    .detail-item strong {
        margin-right: 10px;
    }
</style>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th,
    tr {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    @media only screen and (max-width: 600px) {

        th,
        td {
            width: 50%;
        }
    }
</style>
{%include 'plan/tab.html' %}
<div class="box-content">

<table>
    <tr>
        <th>Plans Name</th>
        <th>Duration</th>
        <th>Price</th>
    </tr>
    
    {% for plan in mycurrent_plan.userplandetails.all %}
    <tr>
        <td>{{plan.plan.name}}</td>
        <td>{{plan.plan.default_month}} Months</td>
        <td>NRS. {{plan.plan.price}}</td>
    </tr>
    {%endfor%}
    
    {% if not mycurrent_plan %}
    <td colspan="2" style="text-align:center;">No Plan</td>
    <td colspan="1">
        <a href="{% url 'plan:pages:userplan:create_user_plan' userprofile.user.pk %}" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Plan</a>
    </td>
    {%endif%}
    <tr>
        <td colspan="2" style="text-align: right;">Total Price</td>
        <td colspan="2">NRs: <span id="totalPrice">{{mycurrent_plan.plan_price}}</span></td>
    </tr>
        <tr>
            <td colspan="2" style="text-align: right;">Discount</td>
            <td colspan="2">{{mycurrent_plan.discount}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">Grand Total</td>
            <td colspan="2">Rs.{{mycurrent_plan.total}} <span id="grandTotal"></span></td>
        </tr>
</table>

<script>
    // Get necessary elements
    const totalPriceElement = document.getElementById('totalPrice');
    const discountElement = document.getElementById('discount');
    const grandTotalElement = document.getElementById('grandTotal');

    // Calculate grand total function
    function calculateGrandTotal() {
        const totalPrice = parseFloat(totalPriceElement.textContent.replace('NRs. ', ''));
        const discount = parseFloat(discountElement.value) || 0;
        const grandTotal = totalPrice - discount;
        grandTotalElement.textContent = grandTotal.toFixed(2);
    }

    // Add event listener to discount input
    discountElement.addEventListener('input', () => {
        calculateGrandTotal();
    });

    // Enable discount input
    function toggleReadOnly(inputName) {
        const input = document.querySelector('input[id="' + inputName + '"]');
        if (input) {
            input.readOnly = false;
        }
    }

    // Enable discount input on mousedown
    discountElement.addEventListener('click', () => {
        toggleReadOnly('discount');
    });

    // Initial calculation
    calculateGrandTotal();
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the userplan starting_date from the template
        var startingDate = "{{ userplan.starting_date|date:'Y-m-d' }}";

        // Set the default value for the starting date field
        var startingDateField = document.getElementById("id_starting_date");
        startingDateField.value = startingDate;
    });
</script>
<script>
    document.getElementById('filter').addEventListener('click', function() {
        var hiddenProfileDivs = document.getElementsByClassName('hiddenprofile');
        for (var i = 0; i < hiddenProfileDivs.length; i++) {
            if (hiddenProfileDivs[i].style.display === 'none') {
                hiddenProfileDivs[i].style.display = 'block';
            } else {
                hiddenProfileDivs[i].style.display = 'none';
            }
        }
        var hiddenProfileDivs = document.getElementsByClassName('showprofile');
        for (var i = 0; i < hiddenProfileDivs.length; i++) {
            if (hiddenProfileDivs[i].style.display === 'none') {
                hiddenProfileDivs[i].style.display = 'block';
            } else {
                hiddenProfileDivs[i].style.display = 'none';
            }
        }
    });
</script>    

{% endblock %}