{% extends 'datatable_base.html' %}
{% load static %}
{% block title %}Plan List{% endblock %}
{% block pagetitle %}Plan List{% endblock %}
{%block addbutton%}
{% comment %} <a href="{% url 'accounts:pages:users:createadmin' %}" class="btn btn-sm btn-primary">
<i class="fa fa-plus"></i>Add User
</a> {% endcomment %}

<div class="dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Plan
    </button>
    <div class="dropdown-menu" aria-labelledby="exportDropdown">
        <a class="dropdown-item" href="{% url 'plan:pages:create' %}" >Create Plan</a>
    
    </div>
</div>
{% endblock %}

{% block table %}
    <div class="box-content">
        <!-- /.dropdown js__dropdown -->
        <div class="table-responsive">
            <table id="example" class="display compact nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Default Month</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Default Month</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for plan in plans %}
            <tr>
                <td></td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.price }}</td>
                <td>{{ plan.default_month }}</td>
                <td>{{ plan.description }}</td>
                <td>
                    <a href="{% url 'plan:pages:delete' plan.id %}" class="btn btn-sm btn-dark" onclick="return confirmStatusChange()"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                    <a href="{% url 'plan:pages:update' plan.id %}" class="btn btn-sm btn-dark"><i class="fa fa-trash"></i>&nbsp;Update</a>

                </td>
            </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script>
        $(document).ready(function() {
            // Destroy any existing DataTable instance
            if ($.fn.DataTable.isDataTable('#example')) {
                $('#example').DataTable().destroy();
            }
            // Initialize the DataTable
            $('#example').DataTable({
                "pageLength": 200,
                "drawCallback": function(settings) {
                    
                    var api = this.api();
                    var start = api.page.info().start;
                    api.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                        cell.innerHTML = start + i + 1;
                    });
                }
            });
        });

        function confirmStatusChange() {
            if (confirm('Are you sure ?')) {
                return true;  // Proceed with the link
            }
            return false;  // Cancel the link
        }
    </script>
{% endblock %}


