{% extends 'datatable_base.html' %}
{% load static %}

{% block title %}Customer Detail{% endblock %}
{% block pagetitle %}Customer Detail{% endblock %}
{%block addbutton%}

<div class="dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu" style="padding:3px;" aria-labelledby="exportDropdown">
    <a class="dropdown-item" href="{% url 'rental:customer:update' customer.pk %}" >Update Profile</a><br>
    <a class="dropdown-item" href="{% url 'rental:customer:document_create' customer.pk %}">Add Files</a>
    </div>
</div>
{% endblock %}
{% block table %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Customer Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Customer Name:</strong> {{ customer.name }}</li>
                        <li class="list-group-item"><strong>Phone Number:</strong> {{ customer.phone_number }}</li>
                        <li class="list-group-item"><strong>Secondary Number:</strong> {{ customer.secondary_phone_number }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ customer.email }}</li>
                        <li class="list-group-item"><strong>Address:</strong> {{ customer.address }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Customer Files</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            
                        <table id="example" class="display compact nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    
                                    <th>Document Name</th>
                                    <th>Document</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Document</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for document in customer_documents %}
                                <tr>
                                    <td>{{ document.name }}</td>
                                    <td><a class="btn btn-dark btn-sm" target="_blank" href="{{document.file.url}}">View Document</a></td>
                                    <td>
                                         <a href="{% url 'rental:customer:delete_document' document.pk %}" 
                                                     class="btn btn-sm btn-danger" 
                                                     onclick="return confirm('Are you sure you want to Delete this file?');">
                                                     <i class="fa fa-trash"></i>&nbsp; Delete
                                                  </a> 
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
