{% extends 'datatable_base.html' %}
{%load static %}
{% load static %}
{% block title %} Salary Report{% endblock %}
{% block pagetitle %}Salary Report{% endblock %}
{%block addbutton%}
<a href="{% url 'ledger:pages:salary:create' %}" class="btn btn-primary btn-sm">Add Salary</a>
{% endblock %}
{% block content %}
{% endblock %}
{% block table %}

  
<div class="box-content">

<form method="get" action="" class="form-inline mb-3" id="filter-form">
    <div class="row">
        <div class="col-md-4">
            {{form.user.label_tag}}
            {{ form.user }}
        </div>
        <div class="col-md-2">
            {{form.from_date.label_tag}}
            {{ form.from_date }}
        </div>
        <div class="col-md-2">
            {{form.to_date.label_tag}}
            {{ form.to_date }}
        </div>
        <div class="col-md-2" style="margin-top:25px;">
            
            <button type="submit" class="btn btn-sm btn-primary mr-2 ">Filter</button>
    <a type="button" href="{% url 'ledger:pages:salary:list' %}?user=&from_date=&to_date=" class="btn btn-sm btn-secondary mr-2" >Reset Filter</a>
        </div>
        
    </div>
    <br>
    <br> 
</form>
        
    <!-- /.dropdown js__dropdown -->
    <div class="table-responsive">
        <table id="items-table" class="display compact nowrap" style="width:100%">
            <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Create Date</th>
                            <th>User</th>
                            <th>Particular</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Balance</th>
                            <th>Remarks</th>
                          </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.N</th>
                                <th>Create Date</th>
                                <th>User</th>
                                <th>Particular</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                                <th>Remarks</th>
                              </tr>
                            </tr>
                        </tfoot>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    
<script>
  
    $(document).ready(function () {
            
        $('#items-table').dataTable({
            order: [[1, 'desc']],
            lengthMenu: [
                [10, 20, 50, 100],
                [10, 20, 50, 100]
            ],
            pageLength: 200,
            serverSide: true,
            paging: true,
            processing: true,

            sAjaxSource:"{% url 'ledger:pages:salary:salary_datatable' %}?user={{user}}&from_date={{from_date}}&to_date={{to_date}}",  // new url

            
            
            
            columns: [
            {
                name: "S.N",
                data: null,
                orderable: false,
                searchable: false
            },
            {
                name: "Create Date",
                data: 0,
                render: function (data) {
                    // Parse the input date string
                    var date = new Date(data);
                    
                    // Format the date as desired (example: "August 15, 2023 12:34 PM")
                    var formattedDate = date.toLocaleString('en-US', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                    });
                    
                    return formattedDate;
                }
            },
                {name: "User", data: 1},
                {name: "Particular", data: 2},
                {
                    name: 'Debit',
                    data: function (row) {
                        if (row[3]=="Debit"){
                            return  row[4];
                        }
                        else{
                            return '';
                        }
                        
                    }
                },
            {
                name: 'Credit',
                data: function (row) {
                    if (row[3]=="Credit"){
                        return row[4];
                    }
                    else{
                        return '';
                    }
                }   
                
            },
                {name: "Balance", data: 5},

                {name: "Remarks", data: 6},
            ],
            drawCallback: function (settings) {
                var api = this.api();
                var start = api.page.info().start;
                api.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = start + i + 1;
                });
            }
        });
    });

    
</script>
    <script>
        function resetFilter() {
            document.querySelector('input[name="from_date"]').value = '';
            document.querySelector('input[name="to_date"]').value = ''; 
            document.querySelector('select[name="user"]').selectedIndex = -1;
            document.getElementById('filter-form').submit();
        }
        </script>
{% endblock %}
