


{% extends 'datatable_base.html' %}
{% load static %}
{% block title %} Invoice List{% endblock %}
{% block pagetitle %} Invoice List{% endblock %}
{%block addbutton%}
{% comment %} <a href="{% url 'rental:invoice:generate_invoice' %}" class="btn btn-primary btn-sm">Add  Invoice</a> {% endcomment %}
{% endblock %}

{% block table %}
    <div class="box-content">
        <!-- /.dropdown js__dropdown -->
        <div class="table-responsive">
            <table id="example" class="display compact nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Customer</th>
                        <th>Property</th>
                        <th>Month</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S.N</th>
                        <th>Customer</th>
                        <th>Property</th>
                        <th>Month</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td></td>
                        <td>{{ invoice.customer }}</td>
                        <td>{{ invoice.myproperty }}</td>
                        <td>
                            {{invoice.month_name}}
                        </td>
                        <td>
                            {{invoice.total_price}}
                        </td>
                        <td>
                            <a href="{% url 'rental:invoice:invoice_details' invoice.id %}" class="btn btn-sm btn-secondary"><i class="fa fa-eye"></i>&nbsp;View Details</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}


    {% block js %}
    
    
    {% endblock %}
    
