{% extends 'print_base.html' %}
{% load static %}

{% block title %}{{ invoice.customer.name }} {{ current_datetime }}{% endblock %}

{% block body %}
<style type="text/css" media="print">
    .invoice-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
      }
      .invoice-header {
        text-align: center;
        margin-bottom: 20px;
      }
      .invoice-title {
        font-size: 24px;
        font-weight: bold;
      }
      .invoice-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .invoice-info {
        flex: 1;
      }
      .invoice-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      .invoice-table th, .invoice-table td {
        padding: 8px;
        border: 1px solid #ccc;
        text-align: left;
      }
      .invoice-total {
        text-align: right;
      }
</style>

<div style="padding:10px; margin:10px;">
    <div class="row">
        <div class="col-1" style="margin-right:10px;">
            {% comment %} <img src="{% static 'assets/images/logo.png' %}" style="max-height:60px;" alt=""> {% endcomment %}
        </div>
        <div class="col-3">
            {% comment %} Bouddha Fitness<br>
            Kathmandu, Nepal {% endcomment %}
        </div>
        <div class="invoice-container" {% if invoice.is_cancelled%}style="text-decoration: line-through; color: red;"{%endif%}>
            <div class="invoice-header">
              <div class="invoice-title">Invoice Details</div>
            </div>
            <div class="invoice-details">
              <div class="invoice-info">
                {% if invoice.is_cancelled%}
                <p style="text-decoration: line-through; color: red;"><strong>Billid:</strong> {{invoice.invoiceid}}</p>
                {%else%}
                <p><strong>Billid:</strong> {{invoice.pk}}</p>
                {%endif%}
                <p><strong>Date:</strong> {{invoice.created_date|date}}</p>
              </div>
              <div class="invoice-info">
                <p><strong>Customer:</strong> {{invoice.customer.name}}</p>
                <p><strong>Contact:</strong>{% if invoice.customer.phone_number %}{{invoice.customer.phone_number}}{%else%}Not Avliable{%endif%}</p>
              </div>
              
              <div class="invoice-info">
                <p><strong>Month:</strong> {{invoice.month_name}}</p>
              </div>
            </div>
            <table class="invoice-table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>Property Rent</td>
                  <td>{{invoice.property_rent}}</td>
                </tr>
                <tr>
                  <td>Electricity Amount</td>
                  <td>{{invoice.total_electricity_amount}}</td>   
                </tr>   
                <tr>
                  <td>Water Amount</td>
                  <td>{{invoice.total_water_amount}}</td>   
                </tr>
                <tr>
                  <td>Garbage Amount</td>
                  <td>{{invoice.total_garbage_amount}}</td>   
                </tr>
                <tr>
                  <td>Miscellaneous Amount</td>
                  <td>{{invoice.miscellaneous_amount}}</td>   
                </tr>      
              </tbody>
            </table>
            <div class="invoice-total">
              <p><strong>Total Amount:</strong> {{invoice.total_price|floatformat:2}}</p>
            </div>
            <div class="" style="padding:5px;border:2px solid gray;">
              <p><strong>Remarks:</strong> {{invoice.remarks}}</p>
            </div>

        <script type="text/javascript">
            window.print();
            window.onfocus = function () {
                window.close();
            }
        </script>

        {% endblock %}