


{% extends 'datatable_base.html' %}
{% load static %}
{% block title %}Payments List{% endblock %}
{% block pagetitle %}Payments List{% endblock %}
{%block addbutton%}
<a href="{% url 'rental:payment:create' %}" class="btn btn-primary btn-sm">Add Payments</a>

{% endblock %}

{% block table %}
    <div class="box-content">
        <!-- /.dropdown js__dropdown -->
        <div class="table-responsive">
            <table id="example" class="display compact nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Customer</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td></td>
                        <td>{{ payment.customer.name }}</td>
                        <td>{{ payment.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}


    {% block js %}

    {% endblock %}
    