


{% extends 'datatable_base.html' %}
{% load static %}
{% block title %}Expire List{% endblock %}
{% block pagetitle %}Expire List{% endblock %}
{%block addbutton%}
{% endblock %}

{% block table %}
    <div class="box-content">
        <!-- /.dropdown js__dropdown -->
        <div class="table-responsive">
            <table id="example" class="display compact nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Plan Name</th>
                        <th>Starting Date</th>
                        <th>Ending Date</th>
                        <th>Remaining Days</th>
                        <th>Total Cost</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Plan Name</th>
                        <th>Starting Date</th>
                        <th>Ending Date</th>
                        <th>Remaining Days</th>
                        <th>Total Cost</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td></td>
                        <td>{{ user.user_profile.fullname }}</td>
                        <td>{{ user.phone_number }}</td>
                        <td>{{ user.user_profile.userplan.first.userplandetails.first.plan.name }}</td>
                        <td>{{ user.user_profile.userplan.first.starting_date }}</td>
                        <td>{{ user.user_profile.userplan.first.highest_ending_date }}</td>
                        <td>{{ user.user_profile.userplan.first.remaining_days }}</td>
                        <td>{{ user.user_profile.userplan.first.total }}</td>
                        <td><a href="{% url 'accounts:pages:profile_redirect' user.pk %}" class="btn btn-sm btn-dark"><i class="fa fa-trash"></i>&nbsp;View Plan</a>&nbsp;
                            <a href="{% url 'plan:pages:userplan:extend_user_plan' user.pk %}" class="btn btn-sm btn-dark"><i class="fa fa-trash"></i>&nbsp;Extends</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
{% endblock %} 
{% block js %}
<script>
    $(document).ready(function() {
        // Destroy any existing DataTable instance
        if ($.fn.DataTable.isDataTable('#example')) {
            $('#example').DataTable().destroy();
        }
        // Initialize the DataTable
        $('#example').DataTable({
            "pageLength": 200,
            "drawCallback": function(settings) {
                var api = this.api();
                var start = api.page.info().start;
                api.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                    cell.innerHTML = start + i + 1;
                });
            }
        });
    });

    function confirmStatusChange() {
        return confirm('Are you sure ?');
    }
</script>
    <script>
        function confirmStatusChange() {
            if (confirm('Are you sure ?')) {
                return true;  // Proceed with the link
            }
            return false;  // Cancel the link
        }
    </script>
{% endblock %}

