
<div class="tab">
    <a id="adminTab" href="{% url 'accounts:pages:user_list' %}?tab=admin" class="{% if tab == 'admin' %}active{% endif %}">
        Admin
    </a>
    <a id="staffTab" href="{% url 'accounts:pages:user_list' %}?tab=staff" class="{% if tab == 'staff' %}active{% endif %}">
        Staff
    </a>
    <a id="userTab" href="{% url 'accounts:pages:user_list' %}?tab=user" class="{% if tab == 'user' %}active{% endif %}">
        User
    </a>
</div>

<script>
    // Function to activate the tab based on the current URL parameter
    function activateTab() {
        var urlParams = new URLSearchParams(window.location.search);
        var tabParam = urlParams.get('tab');
        if (tabParam) {
            document.getElementById(tabParam + 'Tab').classList.add('active');
        }
    }

    // Call the function when the page loads
    window.onload = activateTab;
</script>
