{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Halesi Department">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <!-- Favicon -->
    <link href="{% static 'assets//images/logo.png' %}" rel="icon">
    <link href="{% static 'debug_toolbar/css/print.css' %}" media="print">
    <link href="{% static 'debug_toolbar/css/toolbar.css' %}" media="print">
    <link rel="stylesheet" href="{% static 'assets//plugin/poppins_font/poppins_font.css' %}">
    <!-- Material Design Icon -->
    <link rel="stylesheet" href="{% static 'assets//fonts/material-design/css/materialdesignicons.css' %}">

    <!-- Data Table -->
    <link rel="stylesheet" href="{% static 'assets//plugin/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets//plugin/datatables/responsive.dataTables.min.css' %}">

    <link href="{% static 'assets/plugin/semantic/semantic.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'assets/plugin/semantic/semantic.min.js' %}"></script>
        <script src="{% static 'debug_toolbar/js/toolbar.js' %}" async type="module"></script>
    <script src="{% static 'assets//plugin/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets//plugin/datatables/dataTables.responsive.min.js' %}"></script>
    <!-- End Datatable -->

    <link href="{% static 'assets//plugin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'assets//style.css' %}">
    
    <script src="{% static 'assets/plugin/nepali-date-picker/nepali.datepicker.v3.7.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    


    {% block style %}{% endblock %}



</head>

<body>

<!-- Back to top button -->
<button type="button" class="btn btn-primary btn-floating btn-sm" title="Back To Top" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>

{% include 'navbar.html' %}
<!-- /.main-menu -->
<div class="container">

</div>

<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button"
                class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">{% block pagetitle %}{% endblock %}</h1>
        <!-- /.page-title -->
    </div>
    <!-- /.pull-left -->
    <div class="pull-right">
        <div class="ico-item">
            {% block addbutton %}{% endblock %}
        </div>
        <!-- /.ico-item -->
    </div>

</div>
<!-- /.fixed-navbar -->

<div id="wrapper">
    <div class="main-content">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible">
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible">
                {% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        
                {% block table %}
                
                {% endblock %}
                <script>
                    $('.ui.dropdown').dropdown({ fullTextSearch: true });
                    $('.ui.dropdown.clearable').dropdown({
                        clearable: true
                      });

                </script>

                <style>
                    div.container {
                        max-width: 1200px;
                    }
                </style>
                <script>
                    $(document).ready(function () {
                        var table = $('#example').DataTable({
                            responsive: true,
                            paging: true,
                            {% comment %} orderClasses: false, {% endcomment %}
                            processing: true,
                        });
                    });
                </script>
                <!-- /.box-content -->
            </div>
            <!-- /.col-xs-12 -->
        </div>
        </div>
        <!-- /.main-content -->
    </div>
    <!--/#wrapper -->

    <center>
		<footer class="footer">
			<ul class="list-inline">
				<li><span>Copyright &copy; Halesi Department,
						<script
							type="text/JavaScript"> var theDate=new Date(); document.write(theDate.getFullYear()) </script>
						<p class="developedby">Designed and Developed by, <a href="https://itnepalsolutions.com/"
								target="_blank" class="badge footer-badge">IT
								Nepal Solutions</a></p>
					</span></li>

			</ul>
		</footer>
	</center>

    <script src="{% static 'assets/scripts/all.min.js' %}"></script>


    <script src="{% static 'assets/plugin/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugin/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugin/nprogress/nprogress.js' %}"></script>


    <!-- Data Tables -->

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->

    <script src="{% static 'assets/scripts/main.js' %}"></script>
    {% comment %} <script>
        window.addEventListener('load', function() {
          var button = document.querySelector('.menu-mobile-button');
          button.click();
        });
    </script> {% endcomment %}

    {% block js %}

    {% endblock %}


</body>

</html>