{% load static %}
<div class="main-menu">
    <header class="header">
        <a href="/" class="logo">
            <span class="ico fa fa-gavel"></span> CMS
        </a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
        <div class="user">
            <a href="/" class="avatar"><img src="{% static 'assets/images/logo.png' %}" alt="" style="height:50%;width:50%;margin-top:10px;margin-left:5vh;"></a>
        </div>
        <!-- /.user -->
    </header>
    <!-- /.header -->
    <div class="content">
        <div class="navigation">
          <h5 class="title">Home</h5>
          <!-- /.title -->
          <ul class="menu js__accordion">
            <li class="{% if current == "dashboard" %}current{%endif%}">
              <a class="" href="{% url 'accounts:pages:dashboard_report' %}">
                <i class="menu-icon material-symbols-outlined">
                    people
                </i>
                  <span>Dashboard</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "users" %}current{%endif%}">
              <a class="" href="{% url 'accounts:pages:user_list' %}?tab=user">
                <i class="menu-icon material-symbols-outlined">
                    people
                </i>
                  <span>Users</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "plans" %}current{%endif%}">
              <a class="" href="{% url 'plan:pages:list' %}">
                <i class="menu-icon material-symbols-outlined">
                    people
                </i>
                  <span>Plans</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "search_user" %}current{%endif%}">
              <a class="" href="{% url 'plan:pages:userplan:search_customer' %}">
                <i class="menu-icon material-symbols-outlined">
                    people
                </i>
                  <span>Search User</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "expiry" %}current{%endif%}">
              <a class="" href="{% url 'accounts:pages:expire_plan_list' %}">
                <i class="menu-icon material-symbols-outlined">
                    people
                </i>
                  <span>Plan Expiry</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "ledger" %}current{%endif%}">
              <a class="" href="{% url 'ledger:pages:list' %}?user=&from_date=&to_date=">
                <i class="menu-icon material-symbols-outlined">
                    currency_exchange
                </i>
                  <span>Ledger</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "salary" %}current{%endif%}">
              <a class="" href="{% url 'ledger:pages:salary:list' %}?user=&from_date=&to_date="">
                <i class="menu-icon material-symbols-outlined">
                    currency_exchange
                </i>
                  <span>Salary</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "expesnses" %}current{%endif%}">
              <a class="" href="{% url 'ledger:pages:expenses:list' %}?user=&from_date=&to_date="">
                <i class="menu-icon material-symbols-outlined">
                    currency_exchange
                </i>
                  <span>Expenses</span></a>
            </li>
          </ul>
          <ul class="menu js__accordion">
            <li class="{% if current == "logout" %}current{%endif%}">
              <a class="" href="{% url 'logout' %}?user=&from_date=&to_date="  onclick="return confirm('Are you sure you want to Logout?');">
                <i class="menu-icon material-symbols-outlined">
                    logout
                </i>
                  <span>Logout</span></a>
            </li>
          </ul>
  
          <!-- /.menu js__accordion -->
        </div>
        <!-- /.navigation -->
      </div>
    <!-- /.content -->
</div>

