{% extends 'datatable_base.html' %}
{%load static %}
{% load static %}
{% block title %} Ledger Report{% endblock %}
{% block pagetitle %}Ledger Report{% endblock %}
{%block addbutton%}

<a href="{% url 'ledger:pages:create' %}" class="btn btn-primary btn-sm">Add Ledger</a>
{% endblock %}
{% block content %}
{% endblock %}
{% block table %}

  
<div class="box-content">

<form method="get" action="" class="form-inline mb-3" id="filter-form">
    <div class="row">
        <div class="col-md-3">
            {{form.user.label_tag}}
            {{ form.user }}
        </div>
        <div class="col-md-2">
            {{form.from_date.label_tag}}
            {{ form.from_date }}
        </div>
        <div class="col-md-2">
            {{form.to_date.label_tag}}
            {{ form.to_date }}
        </div>
        <div class="col-md-2" style="margin-top:25px;">
            
            <button type="submit" class="btn btn-sm btn-primary mr-2 ">Filter</button>
    <a type="button" href="{% url 'ledger:pages:list' %}?user=&from_date=&to_date=" class="btn btn-sm btn-secondary mr-2" >Reset Filter</a>
        </div>
        
    </div>
    <br>
    <br> 
</form>
<div class="float-right">
    <a class="btn btn-primary btn-sm" href="{% url 'ledger:pages:export_ledger_to_excel' %}?{% if user %}user={{ user }}&{% endif %}{% if from_date %}from_date={{ from_date }}&{% endif %}{% if to_date %}to_date={{ to_date }}&{% endif %}">Export Ledger</a>
</div><br>
    <!-- /.dropdown js__dropdown -->
    <div class="table-responsive">
        <table id="items-table" class="display compact nowrap" style="width:100%">
            <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Create Date</th>
                            <th>User</th>
                            <th>Particular</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Balance</th>
                            {% comment %} <th>Company Balance</th> {% endcomment %}
                            <th>Remarks</th>
                            <th>Entry Type</th>
                            {% comment %} <th>Leadger Id</th> {% endcomment %}
                          </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.N</th>
                                <th>Create Date</th>
                                <th>User</th>
                                <th>Particular</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                                {% comment %} <th>Company Balance</th> {% endcomment %}
                                <th>Remarks</th>
                                <th>Entry Type</th>
                                {% comment %} <th>Leadger Id</th> {% endcomment %}
                              </tr>
                                
                            </tr>
                        </tfoot>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    
<script>
  
    $(document).ready(function () {
        $('#items-table').dataTable({
            order: [[1, 'desc']],
            lengthMenu: [
                [10, 20, 50, 100],
                [10, 20, 50, 100]
            ],
            pageLength: 200,
            serverSide: true,
            paging: true,
            processing: true,
            ajax: {
                url: "{% url 'ledger:pages:ledger_datatable' %}",
                type: "GET",
                data: function (d) {
                    d.user = "{{ user }}";
                    d.from_date = "{{ from_date }}";
                    d.to_date = "{{ to_date }}";
                }
            },
            columns: [
            {
                name: "S.N",
                data: null,
                orderable: false,
                searchable: false
            },
                {
                    name: "Create Date",
                    data: "created_date",
                    render: function (data) {
                        // Parse the input date string
                        var date = new Date(data);
    
                        // Extract the individual components
                        var year = date.getFullYear();
                        var month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                        var day = String(date.getDate()).padStart(2, '0');
                        var hours = String(date.getHours()).padStart(2, '0');
                        var minutes = String(date.getMinutes()).padStart(2, '0');
    
                        // Format the date as yyyy-mm-dd h:m
                        var formattedDate = `${year}-${month}-${day} ${hours}:${minutes}`;
    
                        return formattedDate;
                    }
                },
                { name: "User", data: "user" },
                { name: "Particular", data: "particular" },
                {
                    name: 'Debit',
                    data: function (row) {
                        return row._type === "Debit" ? row.amount : '';
                    }
                },
                {
                    name: 'Credit',
                    data: function (row) {
                        return row._type === "Credit" ? row.amount : '';
                    }
                },
                { name: "Balance", data: "balance" },
                {% comment %} { name: "Company Balance", data: "company_balance" }, {% endcomment %}
                { name: "Remarks", data: "remarks" },
                { name: "Entry Type", data: "entry_type" },
                {% comment %} { name: "Ledger Id", data: "leaserid" }, {% endcomment %}
            ],
            drawCallback: function (settings) {
                var api = this.api();
                var start = api.page.info().start;
                api.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = start + i + 1;
                });
            }
        });
    });
    
    
</script>
    <script>
        function resetFilter() {
            document.querySelector('input[name="from_date"]').value = '';
            document.querySelector('input[name="to_date"]').value = ''; 
            document.querySelector('select[name="user"]').selectedIndex = -1;
            document.getElementById('filter-form').submit();
        }
        </script>
{% endblock %}
