{% extends 'form_base.html' %}

{% block dash_title %} Daily Report Dashboard{% endblock %}

{% block body %}
<style>
    @media (max-width: 769px) {
        #filterBtn {
            margin-top: 5px;
        }

        #resetBtn {
            margin-top: 5px;

        }

        @media (min-width: 769px) {
            #filterBtn {
                margin-top: 5px;
            }

            #resetBtn {
                margin-top: 5px;
                margin-bottom: 25px;


            }
        }

    }
</style>
<form id="filter-form" method="get" enctype="multipart/form-data" onsubmit="myFunction()">
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <div class="row">
        {% for field in form %}
        <div class="col-md-2{% if field.label == 'From Date' or field.label == 'To Date' %} date-fields{% endif %}">
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <br>
        <div class="col-md-1">
            <button type="submit" id="filterBtn" name="create_and_add" class="btn btn-primary btn-sm">
                Filter
            </button>
        </div>
        <div class="col-md-1">
            <a type="submit" id="resetBtn" class="btn btn-secondary btn-sm mr-2 mt-4" href="{% url 'accounts:pages:dashboard_report' %}">Reset
                Filter</a>
        </div>
        <div class="col-md-1" style="margin-left:20px;">
            <a class="btn btn-primary btn-sm" href="{% url 'accounts:pages:dashboard_export' %}?user={{ user}}&from_date={{ from_date }}&to_date={{ to_date }}&date_range={{ date_range }}">Export</a>
        </div>
        <div class="col-md-12 mb-5">
        </div>
    </div>
</form>
<div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="box-content bg-primary text-white">
                <div class="statistics-box with-icon">
                    <i class="ico material-symbols-outlined">
                        shopping_cart
                    </i>
                    <p class="text text-white">Total Income</p>
                    <p class="counter">{% if total_income %}Rs.{{ total_income|floatformat:2 }}{% else %}0{% endif %}
                    </p>
                </div>
            </div>
           
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">

        <div class="box-content bg-primary text-white">
            <div class="statistics-box with-icon">
                <i class="ico material-symbols-outlined">
                    money
                </i>
                <p class="text text-white">Total Salary</p>
                <p class="counter">{% if total_salary %}Rs.{{ total_salary|floatformat:2 }}{% else %}0{% endif %}
                </p>
            </div>
        </div>

        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">

            <div class="box-content bg-primary text-white">
                <div class="statistics-box with-icon">
                    <i class="ico material-symbols-outlined">
                        money
                    </i>
                    <p class="text text-white">Total Expenses</p>
                    <p class="counter">{% if total_expenses %}Rs.{{ total_expenses|floatformat:2 }}{% else %}0{% endif %}
                    </p>
                </div>
            </div>
    
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="box-content bg-primary text-white">
                    <div class="statistics-box with-icon">
                        <i class="ico material-symbols-outlined">
                            shopping_cart
                        </i>
                        <p class="text text-white">Profit/Loss</p>
                        <p class="counter">{% if pl %}Rs.{{ pl|floatformat:2 }}{% else %}0{% endif %}
                        </p>
                    </div>
                </div>
               
            </div>
</div>

{% endblock %}

{% block js %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dateRangeSelect = document.getElementById("date_range");
        var fromDateDiv = document.getElementById("from_date").parentNode.parentNode;
        var toDateDiv = document.getElementById("to_date").parentNode.parentNode;
        
        function toggleDateFields() {
            if (dateRangeSelect.value === 'custom') {
                fromDateDiv.style.display = "block";
                toDateDiv.style.display = "block";
            } else {
                fromDateDiv.style.display = "none";
                toDateDiv.style.display = "none";
            }
        }

        // Execute on load
        toggleDateFields();

        // Execute on change
        dateRangeSelect.addEventListener("change", toggleDateFields);
    });
</script>

{% endblock %}